@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
}

form {
  margin-bottom: 2.5em;
}

.main-title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1em;
}

.form-container {
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5em;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.input-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.input-field input {
  font-size: 14px;
  width: 70%;
  padding: 10px;
  border: 1.5px solid black;
  border-radius: 5px;
}

.error {
  font-size: 12.5px;
  color: red;
    width: 70%;
  text-align: center;
}

.add-btn {
  padding: 20px 32px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: 1s;
  font-size: 15px;
}

.add-btn:hover {
  background-color: #009933 ;
}

.books-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  margin-top: 10px;
  gap: 10px;
}

.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #909090;
  height: 250px;
  gap: 20px;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 5em;
  padding-bottom: 2em;
  transition: box-shadow .3s;
}

.book:hover {
  box-shadow: 0 15px 11px rgba(0, 0, 0, 0.2);
}

.status {
  background-color: #aebcd4;
  padding: 14px 20px;
  align-self: center;
  cursor: pointer;
  user-select: none;
  opacity: 0.9;
}


button.delete {
  background-color: #740101;
  color: #ffffff;
  padding: 14px 20px;
  border: none;
  opacity: 0.9;
  cursor: pointer;
  align-self: center;
}

.status:hover,
button.delete:hover {
  opacity: 1;
}

.title {
  background-color: #414141;
  padding: 10px;
  border-radius: 2px;
  font-weight: bold;
  color: #ffffff;
}